{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}
    <script>
        //<![CDATA[
        $(document).ready(function(){
            $("[data-mask]").inputmask();
        });

        //fonction ajout de champs
        $(document).ready(function() {
            var maxField = 20; //limitation des elements
            var x = 1; //Initial field counter is 1

            //ajout d instruction
            var addButtoncons = $('.add_buttoncons'); //bouton ajouter
            var wrappercons = $('.field_wrappercons'); //Input field wrapper
            var fieldHTMLcons = '<div class="col-xs-12 col-sm-12"><hr class="my-4"><div class="col-sm-2" style="text-align: right"><label for="inputName">Emplacement / type de consigne</label></div><div class="col-sm-5"><input class="form-control" placeholder="emplacement" type="text" name="emplconsigne[]" value="{{#if result}}{{result.Consignes.emplacement}}{{/if}}" required="required" autofocus/></div><div class="col-sm-5"><input class="form-control" placeholder="type" type="text" name="typeconsigne[]" value="{{#if result}}{{result.Consignes.type}}{{/if}}" required="required" autofocus/></div></div><div class="col-xs-12 col-sm-12"><div class="col-sm-2" style="text-align: right"><label for="inputName">Date</label></div><div class="col-sm-2"><input class="form-control" type="date" name="dateconsigne[]" value="{{#if result}}{{result.Consignes.date}}{{/if}}" required="required" autofocus/></div><div class="col-sm-4"><input class="form-control" placeholder="personne chargée de la consigne" type="text" name="chargconsigne[]" value="{{#if result}}{{result.Consignes.RegistreUniqueDuPersonnel_extId}}{{/if}}" required="required" autofocus/></div><div class="col-sm-4"><input class="form-control" placeholder="visa" type="text" name="visaconsigne[]" value="{{#if result}}{{result.Consignes.visa}}{{/if}}" required="required" autofocus/></div></div>'; //New input field html
            $(addButtoncons).click(function () { //Once add button is clicked
                if (x < maxField) { //Check maximum number of input fields
                    x++; //Increment field counter
                    $(wrappercons).append(fieldHTMLcons); // Add field html
                }
            });
        });
    </script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Création du registre incendie
            </h1>
            <h2>
                Etape 5 :
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    </div>
                </div>
            </h2>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">

                    <!-- About Me Box -->
                    <div class="box box-primary">
                        <div class="box-body">

                            <form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" action="{{#if result.one}}/add_registresecuincendieetape2{{/if}}">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Etape - Consigne de sécurité</h3>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <p><i>Des consignes précises, conformes à la norme NF S 60-303 relative aux plans et consignes de protection
                                                contre l'incendie, destinées aux personnels de l'établissement, constamment mises à jour, et affichées sur
                                                supports fixes et inaltérables doivent indiquer : les modalités d’alerte des sapeurs pompiers, les dispositions à
                                                prendre pour assurer la sécurité du public et du personnel, la mise en œuvre des moyens de secours de
                                                l’établissement, l’accueil et le guidage des sapeurs pompiers... (Règlement de sécurité ERP – MS 47).</i></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-sm-2" style="text-align: right">
                                            <label for="inputName">Libelle des consignes</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="Consignes" type="text" name="libconsigne" value="{{#if result}}{{result.Consignes.libelle}}{{/if}}" required="required" autofocus/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-sm-offset-2">
                                        <label for="inputName">Affichage des consignes</label>
                                    </div>
                                    <div class="field_wrappercons">
                                    <div class="col-xs-12 col-sm-12">

                                        <div class="col-sm-2" style="text-align: right">
                                            <label for="inputName">Emplacement / type de consigne</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input class="form-control" placeholder="emplacement" type="text" name="emplconsigne[]" value="{{#if result}}{{result.Consignes.emplacement}}{{/if}}" required="required" autofocus/>
                                        </div>
                                        <div class="col-sm-5">
                                            <input class="form-control" placeholder="type" type="text" name="typeconsigne[]" value="{{#if result}}{{result.Consignes.type}}{{/if}}" required="required" autofocus/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">

                                        <div class="col-sm-2" style="text-align: right">
                                            <label for="inputName">Date</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="form-control" type="date" name="dateconsigne[]" value="{{#if result}}{{result.Consignes.date}}{{/if}}" required="required" autofocus/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" placeholder="personne chargée de la consigne" type="text" name="chargconsigne[]" value="{{#if result}}{{result.Consignes.RegistreUniqueDuPersonnel_extId}}{{/if}}" required="required" autofocus/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" placeholder="visa" type="text" name="visaconsigne[]" value="{{#if result}}{{result.Consignes.visa}}{{/if}}" required="required" autofocus/>
                                        </div>
                                    </div>
                                    </div>
                                </div>


                                <div class="col-sm-2" style="text-align: right">
                                    <label for="inputName">Ajouter une consigne</label>
                                </div>
                                <div class="col-sm-2">
                                    <a href="javascript:void(0);" class="add_buttoncons" title="Ajouter une instruction"><button type="button" class="btn btn-primary">Ajouter</button></a>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-11 col-sm-12">
                                        {{#if result.one}}
                                            <input type="hidden" name="_id" value="{{result.one._id}}"/>
                                        {{/if}}
                                        <a class="btn btn-primary" href="/formaddregistreetape7" role="button">suivant</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    </div><!-- /.row -->
    </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}

